@import "tailwindcss";
@import "./typography.css";

@config "../../tailwind.config.js";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #f9f8f4;
  --navbar: #f4f2e9;

  --foreground: #1e1e1e;
  --texthover: #6c757d;
  --accent: #006cac;

  /* --codeblock: #e7e5dd; */
  --codeblock: #f4f2e9;
  --muted: #e6e6e6;
  --border: #9c9a97;
  --borderhover: #1e1e1e;
}

html[data-theme="dark"] {
  --background: #1e1e1e;
  --navbar: #121212;

  --foreground: #f9f8f4;
  --texthover: #6c757d;
  --accent: #ff6b01;

  /* --codeblock: #121212; */
  --codeblock: #121212;
  --muted: #343f60bf;
  --border: #6c757d;
  --borderhover: #f9f8f4;
}

@theme inline {
  --color-background: var(--background);
  --color-navbar: var(--navbar);

  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-texthover: var(--texthover);

  --color-codeblock: var(--codeblock);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-borderhover: var(--borderhover);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: rgb(156, 154, 151, 0.35) var(--color-navbar);
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-notosans text-foreground selection:bg-accent/75 selection:text-background;
  }
  main {
    padding-top: calc(var(--header-height) + 40px);
    /* if you need inline-start padding, keep your existing var too: */
    /* padding-inline-start: var(--sl-content-inline-start); */
  }
  /* main {
    @apply bg-background;
  } */
  /* a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  } */
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  /* section {
    @apply mx-auto max-w-3xl px-4;
  } */

  :root {
    --header-height: 52px;
  }

  @media (min-width: 640px) {
    :root {
      --header-height: 64px;
    }
  }

  @media (min-width: 768px) {
    :root {
      --header-height: 88px;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --header-height: 94px;
    }
  }
}

@layer components {
  /* #region VVIDHYA LOGO */

  /* general */
  .dynamic-stroke {
    stroke: var(--foreground);
  }

  /* header-logo */
  .header-logo-svg {
    @apply h-9 w-auto sm:h-12 md:h-16 lg:h-18;
  }

  .header-logo-svg .body-outline {
    stroke-width: 11.25;
  }

  .header-logo-svg .eyes-outline {
    stroke-width: 7.5;
  }

  .header-logo-svg .brain-divider-line {
    stroke-width: 6.25;
  }

  .header-logo-svg .brain-curves {
    stroke-width: 4.15;
  }

  /* home-logo */
  .home-logo-svg {
    @apply h-20 w-auto xs:h-[88px] sm:h-24 md:h-32 lg:h-40 xl:h-48;
  }

  .home-logo-svg .body-outline {
    stroke-width: 9.5;
  }

  .home-logo-svg .eyes-outline {
    stroke-width: 6.75;
  }

  .home-logo-svg .brain-divider-line {
    stroke-width: 6.25;
  }

  .home-logo-svg .brain-curves {
    stroke-width: 3.5;
  }

  /* footer-logo */
  .footer-logo-svg {
    @apply h-8 w-auto md:h-10 lg:h-12;
  }

  .footer-logo-svg .body-outline {
    stroke-width: 11.25;
  }

  .footer-logo-svg .eyes-outline {
    stroke-width: 7.5;
  }

  .footer-logo-svg .brain-divider-line {
    stroke-width: 6.25;
  }

  .footer-logo-svg .brain-curves {
    stroke-width: 4.15;
  }
  /* #endregion */

  /* #region GENERAL */
  .active-nav {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }

  .card-btn {
    @apply w-4/5 rounded-lg border-2 border-b-6 px-6 py-4 text-lg font-bold transition-all hover:!border-borderhover active:!border-borderhover sm:px-8 sm:py-6 sm:text-xl;
  }

  .card-btn.touch {
    /* @apply !border-font-color-pri !text-font-color-pri; */
    @apply border-borderhover;
  }

  .util-icon {
    width: 1em !important;
    height: 1em !important;
  }

  .link-interaction-effect {
    @apply transition-all hover:text-font-color-green active:text-font-color-green;
  }

  .link-interaction-effect.touch {
    @apply text-font-color-green;
  }

  .link-interaction-underline-effect {
    @apply transition-all hover:underline active:underline;
  }

  .link-interaction-underline-effect.touch {
    @apply underline;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  .scroll-up-btn {
    @apply fixed right-4 bottom-4 z-[5] hidden h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-font-color-sec text-font-color-white transition-all hover:text-font-color-pri active:text-font-color-pri md:h-10 md:w-10;
  }

  .scroll-up-btn.touch {
    @apply text-font-color-pri;
  }

  /* loading-indicator */
  /* The outer container that vtbot will toggle via html.loading */
  #vtbot-loading-indicator {
    @apply pointer-events-none fixed top-[calc(var(--header-height)+1rem)] left-4 z-50 opacity-0 transition-all;
  }

  /* When a load is happening, vtbot adds .loading to <html> */
  html.loading #vtbot-loading-indicator {
    @apply !animate-none !opacity-100 transition-all;
  }

  #vtbot-loading-indicator .loading-outer-ring {
    @apply absolute top-0 left-0 h-6 w-6 rounded-full border-4 border-foreground md:h-8 md:w-8 md:border-[5px];
  }

  /* The actual spinner element inside your #vtbot-loading-indicator */
  #vtbot-loading-indicator .loading-inner-spinner {
    @apply absolute top-0 left-0 h-6 w-6 animate-spin rounded-full border-4 border-font-color-green border-t-transparent transition-all md:h-8 md:w-8 md:border-[5px];
  }

  /* loading-progress-bar */
  .progress-bar-container {
    @apply pointer-events-none fixed top-0 left-0 !z-100 !h-1 !w-full bg-background opacity-0 transition-all !duration-150;
  }

  html.loading .progress-bar-container {
    @apply opacity-100 transition-all;
  }

  .swup-progress-bar {
    @apply !h-1 !bg-font-color-green !transition-all !duration-300 !ease-linear;
  }

  /* scroll-progress-bar */
  .scroll-progress-container {
    @apply pointer-events-none fixed top-0 !z-50 h-1 w-full bg-background opacity-0 transition-opacity !duration-150 ease-out;
  }

  .scroll-progress-container.is-visible {
    @apply opacity-100 transition-opacity !duration-450 ease-in;
  }

  html.loading .scroll-progress-container {
    @apply !opacity-0 !transition-none;
  }

  .scroll-progress-bar {
    @apply !z-50 h-1 w-0 bg-accent;
  }
  /* #endregion */

  /* #region HEADER */
  .header {
    @apply fixed top-0 right-0 left-0 z-10 mb-10 flex w-auto justify-between bg-navbar px-2 py-2 text-foreground sm:px-4 md:px-8 md:py-3;
    height: var(--header-height);
  }

  .header-logo-text {
    @apply mt-2 text-xl font-black hover:text-font-color-green active:text-font-color-green sm:mt-3 sm:text-2xl md:text-3xl lg:mt-4 lg:text-4xl;
  }

  .header-logo-text.touch {
    @apply text-font-color-green;
  }

  .header-logo-svg:hover + .header-logo-text,
  .header-logo-svg:active + .header-logo-text {
    @apply text-font-color-green;
  }

  .header-logo-svg.touch + .header-logo-text {
    @apply text-font-color-green;
  }

  .header-navmenu-hover {
    @apply underline-offset-4 transition-all hover:text-font-color-green active:text-font-color-green sm:underline-offset-8;
  }

  .header-navmenu-hover.touch {
    @apply text-font-color-green;
  }

  .side-navmenu-border {
    @apply my-5 border-[1px] border-solid border-foreground sm:my-0;
  }
  /* #endregion */

  /* #region NAV MENU */
  .topbar-menu {
    @apply z-10 box-border w-full bg-navbar p-4 sm:z-auto sm:box-content sm:w-auto sm:p-0;

    height: calc(100vh - var(--header-height) + 5px);
  }

  @media (min-width: 640px) {
    .topbar-menu {
      height: auto;
    }
  }

  .topbar-nav {
    @apply text-base font-bold sm:flex sm:items-center sm:justify-center md:text-xl;
  }
  /* #endregion */

  /* #region HOME PAGE */
  .home-stroke-path {
    fill: var(--navbar);
  }

  .home-page-action-btn {
    /* @apply rounded-lg border-2 border-b-6 border-font-color-blue-dark bg-font-color-blue px-6 py-3 text-lg font-bold text-font-color-white transition-all hover:border-font-color-pri hover:text-font-color-pri active:border-font-color-pri active:text-font-color-pri sm:px-8 sm:py-4 sm:text-xl; */
    @apply rounded-lg border-2 border-b-6 border-font-color-blue-dark bg-font-color-blue px-6 py-3 text-lg font-bold text-font-color-white transition-all hover:border-borderhover active:border-borderhover sm:px-8 sm:py-4 sm:text-xl;
  }

  .home-page-action-btn.touch {
    /* @apply border-font-color-pri dark:border-font text-font-color-pri; */
    /* @apply border-borderhover dark:text-font-color-pri; */
    @apply border-borderhover;
  }
  /* #endregion */

  /* #region ILLUSTRATIONS */
  .illus {
    @apply h-auto max-h-[225px] w-auto sm:max-h-[300px] md:max-h-[425px] lg:max-h-[500px];
  }
  /* #endregion */

  /* #region POST-DETAILS PAGE */
  .post-navigation-block {
    @apply flex w-full items-center gap-3 rounded-lg border-2 border-b-6 border-border bg-navbar p-3 transition-all hover:border-borderhover active:border-borderhover;
  }

  .post-navigation-block.touch {
    @apply border-borderhover;
  }

  .file-download-button {
    @apply rounded-md border border-b-2 border-border bg-[#dedbce] px-4 pt-2 pb-3 text-base font-semibold text-foreground hover:border-borderhover active:border-borderhover dark:bg-[#050505];
  }

  .file-download-button.touch {
    @apply border-borderhover;
  }
  /* #endregion */

  /* #region CODE BLOCK */
  .copy-code {
    @apply absolute -top-3 right-3 rounded-md border border-b-2 border-border bg-[#dedbce] px-2 py-1 text-xs leading-4 font-semibold text-foreground hover:border-borderhover active:border-borderhover dark:bg-[#050505];
  }

  .copy-code.touch {
    @apply border-borderhover;
  }
  /* #endregion */

  /* #region UTILITIES */
  .line {
    @apply mx-auto w-full;
  }
  /* #endregion */

  /* #region SCRATCH PROJECT EMBED */
  /* .scratch-project-preview-container {
    @apply mt-8;
  } */

  .scratch-project-iframe {
    @apply mt-8 aspect-[485/402] w-3/4 md:w-3/5;
  }
  /* #endregion */

  /* #region PAGEFIND-SEARCH */
  #pagefind-search {
    --pagefind-ui-font: var(--font-notosans) !important;
    --pagefind-ui-text: var(--foreground) !important;
    --pagefind-ui-background: var(--background) !important;
    --pagefind-ui-border: var(--border) !important;
    --pagefind-ui-primary: var(--accent) !important;
    --pagefind-ui-tag: var(--background) !important;
    --pagefind-ui-border-radius: 0.375rem !important;
    --pagefind-ui-border-width: 2px !important;
    --pagefind-ui-image-border-radius: 8px !important;
    --pagefind-ui-image-box-ratio: 3 / 2 !important;
    --pagefind-ui-scale: 0.85 !important;
  }

  /* #pagefind-search form {
    @apply !flex !flex-col;
  } */

  #pagefind-search form::before {
    background-color: var(--foreground) !important;
  }

  #pagefind-search input {
    /* font-weight: 400; */
    @apply !rounded-lg !border-2 !border-solid !border-border !font-semibold hover:!border-borderhover;
    /* border: 1px solid var(--border) !important; */
  }

  #pagefind-search input.touch {
    @apply !border-font-color-green;
    outline: 0px solid var(--borderhover) !important;
  }

  #pagefind-search input:focus-visible {
    @apply !border-font-color-green;
    outline: 0px solid var(--borderhover) !important;
  }

  #pagefind-search input::placeholder {
    @apply !font-semibold !text-foreground;
  }

  #pagefind-search .pagefind-ui__search-clear {
    @apply !h-auto !bg-[#dedbce] !px-2 !py-1 !text-xs !font-semibold hover:!text-border dark:!bg-[#050505];
    top: calc(18px * var(--pagefind-ui-scale)) !important;
    right: calc(12px * var(--pagefind-ui-scale)) !important;
  }

  #pagefind-search .pagefind-ui__message {
    border-bottom: 2.5px solid var(--border) !important;
  }

  #pagefind-search .pagefind-ui__result {
    border-top: 1.25px dashed var(--border) !important;
    border-bottom: 1.25px dashed var(--color-border) !important;
  }

  #pagefind-search .pagefind-ui__result:first-child {
    border-top: none !important;
  }

  #pagefind-search .pagefind-ui__result-title a {
    /* color: var(--accent) !important; */
    @apply !text-foreground;
    outline-offset: 1px !important;
    outline-color: var(--accent) !important;
    font-size: calc(24px * var(--pagefind-ui-scale)) !important;
  }

  #pagefind-search .pagefind-ui__result-nested a {
    font-size: calc(18px * var(--pagefind-ui-scale)) !important;
  }

  #pagefind-search .pagefind-ui__result-title a:focus-visible,
  #pagefind-search .pagefind-ui__search-clear:focus-visible {
    text-decoration-line: none !important;
    outline-width: 2px !important;
    outline-style: dashed !important;
  }

  #pagefind-search .pagefind-ui__result:last-of-type {
    border-bottom: 0 !important;
  }

  #pagefind-search
    .pagefind-ui__result-nested
    .pagefind-ui__result-link:before {
    font-family: var(--font-notosans) !important;
  }

  #pagefind-search mark {
    @apply !bg-accent !text-background;
  }

  #pagefind-search .pagefind-ui__button {
    @apply !rounded-lg !border-2 !border-solid !border-border !font-semibold hover:!border-borderhover active:!border-borderhover;
  }
  /* endregion */
}
