@import "tailwindcss";
@import "./typography.css";

@config "../../tailwind.config.js";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #f9f8f4;
  --navbar: #f4f2e9;

  --foreground: #1e1e1e;
  --texthover: #6c757d;
  --accent: #006cac;

  /* --codeblock: #e7e5dd; */
  --codeblock: #f4f2e9;
  --muted: #e6e6e6;
  --border: #9c9a97;
  --borderhover: #1e1e1e;
}

html[data-theme="dark"] {
  --background: #1e1e1e;
  --navbar: #121212;

  --foreground: #f9f8f4;
  --texthover: #6c757d;
  --accent: #ff6b01;

  /* --codeblock: #121212; */
  --codeblock: #121212;
  --muted: #343f60bf;
  --border: #6c757d;
  --borderhover: #f9f8f4;
}

@theme inline {
  --color-background: var(--background);
  --color-navbar: var(--navbar);

  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-texthover: var(--texthover);

  --color-codeblock: var(--codeblock);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-borderhover: var(--borderhover);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    /* scrollbar-color: var(--color-muted) transparent; */
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground selection:bg-accent/75 selection:text-background flex min-h-svh flex-col font-notosans;
  }
  main {
    padding-top: calc(var(--header-height) + 40px);
    /* if you need inline-start padding, keep your existing var too: */
    /* padding-inline-start: var(--sl-content-inline-start); */
  }
  /* main {
    @apply bg-background;
  } */
  a,
  button {
    @apply outline-accent outline-offset-1 focus-visible:no-underline focus-visible:outline-dashed focus-visible:outline-2;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  /* section {
    @apply mx-auto max-w-3xl px-4;
  } */

  :root {
    --header-height: 52px;
  }

  @media (min-width: 640px) {
    :root {
      --header-height: 64px;
    }
  }

  @media (min-width: 768px) {
    :root {
      --header-height: 88px;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --header-height: 94px;
    }
  }
}

@layer components {
  /* #region VVIDHYA LOGO */

  /* general */
  .dynamic-stroke {
    stroke: var(--foreground);
  }

  /* header-logo */
  .header-logo-svg {
    @apply h-9 w-auto sm:h-12 md:h-16 lg:h-18;
  }

  .header-logo-svg .body-outline {
    stroke-width: 11.25;
  }

  .header-logo-svg .eyes-outline {
    stroke-width: 7.5;
  }

  .header-logo-svg .brain-divider-line {
    stroke-width: 6.25;
  }

  .header-logo-svg .brain-curves {
    stroke-width: 4.15;
  }

  /* home-logo */
  .home-logo-svg {
    @apply h-20 w-auto xs:h-[88px] sm:h-24 md:h-32 lg:h-40 xl:h-48;
  }

  .home-logo-svg .body-outline {
    stroke-width: 9.5;
  }

  .home-logo-svg .eyes-outline {
    stroke-width: 6.75;
  }

  .home-logo-svg .brain-divider-line {
    stroke-width: 6.25;
  }

  .home-logo-svg .brain-curves {
    stroke-width: 3.5;
  }

  /* footer-logo */
  .footer-logo-svg {
    @apply h-8 w-auto md:h-10 lg:h-12;
  }

  .footer-logo-svg .body-outline {
    stroke-width: 11.25;
    @apply stroke-font-color-pri;
  }

  .footer-logo-svg .eyes-outline {
    stroke-width: 7.5;
  }

  .footer-logo-svg .brain-divider-line {
    stroke-width: 6.25;
  }

  .footer-logo-svg .brain-curves {
    stroke-width: 4.15;
  }
  /* #endregion */

  /* #region GENERAL */
  .active-nav {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }

  .card-btn {
    @apply hover:!border-borderhover active:!border-borderhover w-4/5 rounded-lg border-2 border-b-6 px-6 py-4 text-lg font-bold transition-all sm:px-8 sm:py-6 sm:text-xl;
  }

  .card-btn.touch {
    /* @apply !border-font-color-pri !text-font-color-pri; */
    @apply border-borderhover;
  }

  .util-icon {
    width: 1em !important;
    height: 1em !important;
  }

  .link-interaction-effect {
    @apply transition-all hover:text-font-color-green active:text-font-color-green;
  }

  .link-interaction-effect.touch {
    @apply text-font-color-green;
  }

  .link-interaction-underline-effect {
    @apply transition-all hover:underline active:underline;
  }

  .link-interaction-underline-effect.touch {
    @apply underline;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  .scroll-up-btn {
    @apply fixed bottom-4 right-4 z-[5] hidden h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-font-color-sec text-font-color-white transition-all hover:text-font-color-pri active:text-font-color-pri md:h-10 md:w-10;
  }

  .scroll-up-btn.touch {
    @apply text-font-color-pri;
  }

  /* loading-indicator */
  /* The outer container that vtbot will toggle via html.loading */
  #vtbot-loading-indicator {
    @apply pointer-events-none fixed left-4 top-[calc(var(--header-height)+1rem)] z-50 opacity-0 transition-all;
  }

  /* When a load is happening, vtbot adds .loading to <html> */
  html.loading #vtbot-loading-indicator {
    @apply !animate-none !opacity-100 transition-all;
  }

  #vtbot-loading-indicator .loading-outer-ring {
    @apply border-foreground absolute left-0 top-0 h-6 w-6 rounded-full border-4 md:h-8 md:w-8 md:border-[5px];
  }

  /* The actual spinner element inside your #vtbot-loading-indicator */
  #vtbot-loading-indicator .loading-inner-spinner {
    @apply border-t-transparent absolute left-0 top-0 h-6 w-6 animate-spin rounded-full border-4 border-font-color-green transition-all md:h-8 md:w-8 md:border-[5px];
  }
  /* #endregion */

  /* #region HEADER */
  .header {
    @apply bg-navbar text-foreground fixed left-0 right-0 top-0 z-10 mb-10 flex w-auto justify-between px-2 py-2 sm:px-4 md:px-8 md:py-3;
    height: var(--header-height);
  }

  .header-logo-text {
    @apply mt-2 text-xl font-black hover:text-font-color-green active:text-font-color-green sm:mt-3 sm:text-2xl md:text-3xl lg:mt-4 lg:text-4xl;
  }

  .header-logo-text.touch {
    @apply text-font-color-green;
  }

  .header-logo-svg:hover + .header-logo-text,
  .header-logo-svg:active + .header-logo-text {
    @apply text-font-color-green;
  }

  .header-logo-svg.touch + .header-logo-text {
    @apply text-font-color-green;
  }

  .header-navmenu-hover {
    @apply underline-offset-4 transition-all hover:text-font-color-green active:text-font-color-green sm:underline-offset-8;
  }

  .header-navmenu-hover.touch {
    @apply text-font-color-green;
  }

  .side-navmenu-border {
    @apply my-3 border-[1px] border-solid border-font-color-pri md:my-5;
  }
  /* #endregion */

  /* #region NAV MENU */
  .topbar-menu {
    @apply bg-navbar h-[calc(100dvh - var(--header-height))] w-full sm:h-auto sm:w-auto;
  }

  .topbar-nav {
    @apply text-base font-bold md:text-xl;
  }
  /* #endregion */

  /* #region HOME PAGE */
  .home-stroke-path {
    fill: var(--navbar);
  }

  .home-page-action-btn {
    /* @apply rounded-lg border-2 border-b-6 border-font-color-blue-dark bg-font-color-blue px-6 py-3 text-lg font-bold text-font-color-white transition-all hover:border-font-color-pri hover:text-font-color-pri active:border-font-color-pri active:text-font-color-pri sm:px-8 sm:py-4 sm:text-xl; */
    @apply hover:border-borderhover active:border-borderhover rounded-lg border-2 border-b-6 border-font-color-blue-dark bg-font-color-blue px-6 py-3 text-lg font-bold text-font-color-white transition-all sm:px-8 sm:py-4 sm:text-xl;
  }

  .home-page-action-btn.touch {
    /* @apply border-font-color-pri dark:border-font text-font-color-pri; */
    /* @apply border-borderhover dark:text-font-color-pri; */
    @apply border-borderhover;
  }
  /* #endregion */

  /* #region ILLUSTRATIONS */
  .illus {
    @apply h-auto max-h-[225px] w-auto sm:max-h-[300px] md:max-h-[425px] lg:max-h-[500px];
  }
  /* #endregion */

  /* #region POST-DETAILS PAGE */
  .post-navigation-block {
    @apply border-border bg-navbar hover:border-borderhover active:border-borderhover flex w-full items-center gap-3 rounded-lg border-2 border-b-6 p-3 transition-all;
  }

  .post-navigation-block.touch {
    @apply border-borderhover;
  }

  .file-download-button {
    @apply border-border text-foreground hover:border-borderhover active:border-borderhover rounded-md border border-b-2 bg-[#dedbce] px-4 pb-3 pt-2 text-base font-semibold dark:bg-[#050505];
  }

  .file-download-button.touch {
    @apply border-borderhover;
  }
  /* #endregion */

  /* #region CODE BLOCK */
  .copy-code {
    @apply border-border text-foreground hover:border-borderhover active:border-borderhover absolute -top-3 right-3 rounded-md border border-b-2 bg-[#dedbce] px-2 py-1 text-xs font-semibold leading-4 dark:bg-[#050505];
  }

  .copy-code.touch {
    @apply border-borderhover;
  }
  /* #endregion */

  /* #region UTILITIES */
  .line {
    @apply mx-auto w-full;
  }
  /* #endregion */

  /* #region SCRATCH PROJECT EMBED */
  /* .scratch-project-preview-container {
    @apply mt-8;
  } */

  .scratch-project-iframe {
    @apply mt-8 aspect-[485/402] w-3/4 md:w-3/5;
  }
  /* #endregion */
}
