---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE } from "@/config";
// import LinkButton from "@/components/LinkButton.astro";

const metadata = {
  title: "Page Not Found - V.Vidhya | Computer Education for All",
  description:
    "Get in touch with V.Vidhya for the best computer education. Visit our institute, call us, or drop a message to learn more about offered courses.",
};
---

<Layout
  title={`${metadata.title}` || `${SITE.title}`}
  description=`${metadata.description}`
>
  <Header />

  <!-- <main
    id="main-content"
    class="mx-auto flex max-w-3xl flex-1 items-center justify-center"
  >
    <div class="mb-14 flex flex-col items-center justify-center">
      <h1 class="text-9xl font-bold text-accent">404</h1>
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
      <p class="mt-4 text-2xl sm:text-3xl">Page Not Found</p>
      <LinkButton
        href="/"
        class="my-6 text-lg underline decoration-dashed underline-offset-8"
      >
        Go back home
      </LinkButton>
    </div>
  </main> -->

  <main class="my-20" id="main-content">
    <section
      class="mx-auto mb-24 flex max-w-mdsm flex-col items-center justify-center gap-3 md:max-w-2xl lg:max-w-4xl 2xl:max-w-6xl"
    >
      <div
        class="mb-20 text-center text-xl font-extrabold text-font-color-brown md:text-3xl"
      >
        <p class="mb-5 text-font-color-green">Oops!</p>
        <p>The page you're looking for doesn't exist.</p>
      </div>

      <img
        src="/images/doodles/404-error.svg"
        alt="404 error illustration"
        class="ind-course-illus"
        decoding="async"
      />
    </section>
  </main>

  <Footer />
</Layout>
