---
import IconCaretRight from "./Icons/IconCaretRight.astro";
import IconCaretDown from "./Icons/IconCaretDown.astro";

interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<style>
  /* details {
    user-select: all !important;
  } */
  details > summary {
    list-style: none; /* Hide default marker */
  }
  details > summary::-webkit-details-marker {
    display: none; /* Hide default marker for Safari */
  }
  details > summary .icon-caret-down {
    display: none;
  }
  details[open] > summary .icon-caret-right {
    display: none;
  }
  details[open] > summary .icon-caret-down {
    display: inline-block;
  }

  .section-details {
    user-select: text !important;
    cursor: text;
  }
</style>

<details class="group w-full transition-all prose-ul:!my-2">
  <summary class="flex cursor-pointer items-center gap-3 font-semibold">
    <span class="icon-caret-right inline-block" aria-hidden="true">
      <IconCaretRight styleClass="" />
    </span>
    <span class="icon-caret-down" aria-hidden="true">
      <IconCaretDown styleClass="" />
    </span>
    <span>{title}</span>
  </summary>
  <div class="section-details pl-5">
    {/* Optional: Add padding to align content with title */}
    <slot />
  </div>
</details>
