---
import LoadingIndicator from "astro-vtbot/components/LoadingIndicator.astro";
---

<LoadingIndicator />

<div id="vtbot-loading-indicator">
  <div class="loading-outer-ring"></div>
  <div class="loading-inner-spinner"></div>
</div>
