---
import IconDownload from "./Icons/IconDownload.astro";

interface Props {
  fileSrc: string;
  fileName: string;
  styleClass?: string;
}

const { fileSrc, fileName, styleClass = '' } = Astro.props as Props;
---

<a href={fileSrc} download={fileName} class={`file-download-button ${styleClass}`}>
  <button>
    <div class="flex flex-row items-center justify-center gap-2">
      <code class="!bg-[#dedbce] dark:!bg-[#050505] !p-0 !pt-0.5">{fileName}</code>
      <IconDownload styleClass="" />
    </div></button
  >
</a>
