---
import SocialLinks from "./SocialLinks.astro";

const currentYear = new Date().getFullYear();
---

<footer
  class="mt-auto flex w-full flex-col items-center justify-center gap-5 bg-navbar py-10"
>
  <div
    class="flex w-full flex-col items-center justify-between gap-3 px-10 text-center md:flex-row md:gap-8 xl:px-24"
  >
    <div class="order-3 md:order-1">
      <p>&#169; {currentYear}, V.Vidhya</p>
    </div>

    <!-- <div class="order-2 md:order-2">
      <a
        class="link-interaction-effect link-interaction-underline-effect underline-offset-8"
        href="/privacy-policy/"
        rel="noopener noreferrer"
        title="Privacy Policy">Privacy Policy</a
      >
    </div> -->

    <div
      class="order-1 flex flex-row items-center justify-center space-x-4 text-xl md:order-3 md:text-2xl"
    >
      <SocialLinks />
    </div>
  </div>
</footer>
