---
interface Props {
  href: string
  title: string;
  styleClass?: string;
}

const { href, title, styleClass = '' } = Astro.props as Props;
---

<a href={href} rel="noreferrer noopener" target="_blank" class={`${styleClass}`}>{title}</a>